<!DOCTYPE html>
<html>
<head>
    <title>Dr. Feyenally</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="chat-window">
      <div class="chat-header">
        <h2>Dr. F<b>eye</b>nally</h2>
      </div>
        <div class="chatbox" id="chatbox">
            <div class="chat-message bot-message">
              <p class="botText"><span>Hej! Jestem Dr. Feyenally i odpowiem na wszystkie twoje pytania związane z okulistyką. </span></p>
            </div>
            <div class="chat-message bot-message">
              <p class="botText"><span>
                Zachęcam do wypełnienia krótkiej ankiety, która pozwoli mnie oraz zespołowi Feyenally pomóc w Twoich problemach ze wzrokiem :)</span></p>
            </div>
            <ul id="messages"></ul>
        </div>
        <div class="userInput">
            <input type="text" id="textInput" placeholder="Pisz tutaj...">
            <button id="send-btn" type="submit"><i class="fa fa-send"></i></button>
            <button id="survey-btn" type="button">Wypełnij ankietę</button>
            <button id="end-survey-btn" type="button" style="display: none;">Zakończ ankietę</button>
        </div>
        <!-- -----------------------SCRIPT START---------------------------- -->
      <script>
        let messages = [
          {
            role: "system",
            content:
            "Jesteś okulistą AI zaprojektowanym, aby odpowiadać na pytania związane z okulistyką, pomagać ludziom wypełniać ankiety oraz pomagać w problemach z aplikacją. Specjalizujesz się w ankietach okulistycznych i pomagasz ludziom odpowiadać na pytania dotyczące problemów ze wzrokiem. Jesteś bardzo dobry w swojej pracy. Jesteś przyjazny i pomocny. Odpowiadaj jak najkrótszymi odpowiedziami"},
          {
            role: "assistant",
            content:
              "Hej! Jestem Dr. Feyenally i odpowiem na wszystkie twoje pytania związane z okulistyką. Zachęcam do wypełnienia krótkiej ankiety, która pozwoli mnie oraz zespołowi Feyenally pomóc w Twoich problemach ze wzrokiem :)"
          },
        ];

        function getResponse() {
          let userText = $("#textInput").val();
          let userHtml = '<div class="chat-message user-message"><p class="userText"><span>' + userText + '</span></p></div>';
          $("#textInput").val("");

          // Update the messages array with the user's message
          messages.push({ role: "user", content: userText });

           // SUURVEYYYY
          // if ($("#end-survey-btn").is(":visible")) {        
            // $.post("/survey", { response: userText }).done(function(data) {
              // Jakie confirmatioon wtf
              // renderSurvey();
              // let confirmationHtml = '<div class="chat-message bot-message"><p class="botText"><span>' + data + '</span></p></div>';
            // $("#chatbox").append(confirmationHtml);
            // document.getElementById('#chatbox').append;
            // });
            // document.getElementById('textInput').scrollIntoView({block: 'end', behavior: 'smooth'});
            // }
            // return;
          // }

          $("#chatbox").append(userHtml);
          document.getElementById("textInput").scrollIntoView({ block: "end", behavior: "smooth" });

          // Send the messages array to the Flask endpoint
          $.ajax({
            url: "/get",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ messages: messages }),
            success: function (data) {
              var botHtml = '<div class="chat-message bot-message"><p class="botText"><span>' + data + '</span></p></div>';
              $("#chatbox").append(botHtml);
              document.getElementById("textInput").scrollIntoView({ block: "end", behavior: "smooth" });
            },
          });
        }

        function endSurvey() {
          // Hide the survey button
          $("#survey-btn").hide();
          $("#end-survey-btn").hide();

          // Display a message to indicate the survey has ended
          let surveyEndHtml = '<div class="chat-message bot-message"><p class="botText"><span>Ankieta pomyślnie zakończona. Dziękuję za wzięcie udziału!</span></p></div>';
          $("#chatbox").append(surveyEndHtml);
          document.getElementById('textInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        }

        // Event Listeners
        $(document).ready(function () {
          $("#textInput").keydown(function (event) {
          // If the user presses the "Enter" key
          if (event.key === "Enter") {
            event.preventDefault(); // Prevent the default action (e.g., adding a new line)
            getResponse();
          }
          $("#survey-btn").click(function() {
              renderSurvey();
          });
        });

          $("#send-btn").click(function () {
            getResponse();
          });
          
          $("#end-survey-btn").click(function() {
              endSurvey();
          });
        });
        
        // Function to handle the survey submission
        function submitSurvey() {
          // Get all the selected answers
          var selectedAnswers = [];
          var answerElements = document.getElementsByClassName('answer');
          for (var i = 0; i < answerElements.length; i++) {
            if (answerElements[i].checked) {
              selectedAnswers.push(answerElements[i].value);
            }
          }

          // Do something with the selected answers (e.g., send them to a server)
          $.ajax({
            url: "/get",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ answers: selectedAnswers }),
            success: function (data) {
              var botHtml = '<div class="chat-message bot-message"><p class="botText"><span>' + data + '</span></p></div>';
              $("#chatbox").append(botHtml);
              document.getElementById("textInput").scrollIntoView({ block: "end", behavior: "smooth" });
            },
          });
        }
        
        const eyeQuestions = {
          "Do your eyes hurt?": {
            question: {
              en: "Do your eyes hurt?",
              pl: "Czy bolą cię oczy?"
            },
            answers: [
              { answer: { en: "No", pl: "Nie" } },
              { answer: { en: "Yes", pl: "Tak" } }
            ]
          },
          "Do you wear glasses?": {
            question: {
              en: "Do you wear glasses?",
              pl: "Czy nosisz okulary?"
            },
            answers: [
              { answer: { en: "No", pl: "Nie" } },
              { answer: { en: "Yes - shortsighted", pl: "Tak - krótkowzroczność"} },
              { answer: { en: "Yes - longsighted", pl: "Tak - dalekowzorczność" } }
            ]
          },
          "Do you have any eye disorders?": {
            question: {
              en: "Do you have any eye disorders?",
              pl: "Czy masz jakieś schorzenia oczu?"
            },
            answers: [
              { answer: { en: "No", pl: "Nie" } },
              { answer: { en: "Yes", pl: "Tak" } } //Dodać możliwość wpisania jakie?
            ]
          },
          "Are you taking eye medications?": {
            question: {
              en: "Are you taking eye medications?",
              pl: "Czy przyjmujesz leki do oczu?"
            },
            answers: [
              { answer: { en: "No", pl: "Nie" } },
              { answer: { en: "Yes", pl: "Tak" } } //Jakie?
            ]
          },
          "Do you have allergies?": {
            question: {
              en: "Do you have allergies?",
              pl: "Czy masz alergie?"
            },
            answers: [
              { answer: { en: "No", pl: "Nie" } },
              { answer: { en: "Yes", pl: "Tak" } } // Jakie?
            ]
          },
          "Do you have photophobia?": {
            question: {
              en: "Do you have photophobia?",
              pl: "Czy masz światłowstręt?"
            },
            answers: [
              { answer: { en: "No", pl: "Nie" } },
              { answer: { en: "Yes", pl: "Tak" } }
            ]
          },
          "Do you have symptoms of a dry eye?": {
            question: {
              en: "Do you have symptoms of a dry eye?",
              pl: "Czy masz uczucie piasku pod powiekami (lub suchego oka)?"
            },
            answers: [
              { answer: { en: "No", pl: "Nie" } },
              { answer: { en: "Yes", pl: "Tak" } }
            ]
          }
        };

        // Function to render the survey questions and answers
        function renderSurvey() {
          // surveyContainer.innerHTML = ''; // Clear the survey container

          // Create and append the survey questions and answers
          for (var i = 0; i < survey.length; i++) {
            var question = survey[i].question;
            var answers = survey[i].answers;

            // Create question element
            // var questionElement = document.createElement('p');
            // questionElement.textContent = question;
            // surveyContainer.appendChild('#chatbox');
            var surveyHtml = '<div class="chat-message bot-message"><p class="botText"><span>' + question + '</span></p></div>';
              $("#chatbox").append(surveyHtml);

            // document.getElementById("textInput").scrollIntoView({ block: "end", behavior: "smooth" });

            // Create answer elements
            for (var j = 0; j < answers.length; j++) {
              var answer = answers[j];
              var answerLabel = document.createElement('label');
              var answerInput = document.createElement('input');
              answerInput.type = 'radio';
              answerInput.name = 'answer-' + i;
              answerInput.value = answer;

              answerLabel.appendChild(answerInput);
              answerLabel.appendChild(document.createTextNode(answer));
              surveyContainer.appendChild(answerLabel);
            }
          }

          // Create submit button
          var submitButton = document.createElement('button');
          submitButton.textContent = 'Submit';
          submitButton.addEventListener('click', submitSurvey);
          surveyContainer.appendChild(submitButton);
        }
      </script>
    </div>
</body>
</html>
