<!DOCTYPE html>
<html>
<head>
    <title>Dr. Feyenally</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="chat-window">
      <div class="chat-header">
        <h2>Dr. Feyenally</h2>
      </div>
        <div class="chatbox" id="chatbox">
          <ul id="messages">
            <div class="chat-message bot-message">
              <p class="botText"><span>Hello! How can I assist you?</span></p>
            </div>
          </ul>
        </div>
        <div class="userInput">
            <input type="text" id="textInput" placeholder="Type here...">
            <button id="send-btn" type="submit"><i class="fa fa-send"></i></button>
        </div>
      <script>
          function getResponse() {
              let userText = $("#textInput").val();
              let userHtml = '<div class="chat-message user-message"><p class="userText"><span>' + userText + '</span></p></div>';
              $("#textInput").val("");
              $("#chatbox").append(userHtml);
              document
                .getElementById('textInput')
                .scrollIntoView({block: 'start', behavior: 'smooth'});
              $.get("/get", { msg: userText }).done(function(data) {
              var botHtml = '<div class="chat-message bot-message"><p class="botText"><span>' + data + '</span></p></div>';
              $("#chatbox").append(botHtml);
              document
                .getElementById('textInput')
                .scrollIntoView({block: 'start', behavior: 'smooth'});
              });
          }
          $("#textInput").keypress(function(e) {
          //if enter key is pressed
              if(e.which == 13) {
                  getResponse();
              }
          });
          $("#buttonInput").click(function() {
              getResponse();
          });
      </script>
    </div>
</body>
</html>